<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CServer</title>
    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/style400.css" />
    <script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous">
    </script>
</head>

<body>
    <div>
        <span class='error-num'>4</span>
        <div class='eye'></div>
        <div class='eye'></div>
        <p class='sub-text' id="message"><i><b>Looks</b></i> like</p>
        <a href='/view/login'>Go back</a>
    </div>
    <script src="/assets/js/script400.js"></script>
</body>

</html>